@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    background-color: #397673;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    border: black 5px solid;
}

header {
    margin: 0;
    padding: 0;
    background-color: #397673;
    display: grid;
    grid-template-columns: 150px auto;
    height: 110px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    border-bottom: black 5px solid;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #E3C199;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #AE201F;
}

.logo {
    width: 100px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #397673;
}

#hero img {
    width: 100%;
    height: 100%;
    border-bottom: solid black 5px;
}

#middle {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #7AA899;
}

#middle-left {
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 15% 85%;
    align-items: start;
}

#middle-right {
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 15% 85%;
    align-items: start;
}

.middle-title {
    width: 100%;
    grid-row: 1/2;
    padding: 0;
    margin: 0;
    font-size: 1.25em;
    font-weight: bolder;
    background-color: #397673;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    border-bottom: black 5px solid;
}

.paragraph {
    grid-row: 2/3;
    font-size: 1.5em;
}

.paragraph p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: Oswald, Helvetica, sans-serif;
}

footer {
    background-color: #397673;
    color: #E3C199;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: black 5px solid;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}